.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.textcut {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.topbar {
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: #22292f;
  font-size: 12px;
  color: white;
}
.topbar .mobileVersion {
  color: white;
  padding-right: 30px;
  position: relative;
}
.topbar .mobileVersion .qrcode {
  display: none;
  position: absolute;
  text-align: center;
  background: white;
  z-index: 100;
}
.topbar .mobileVersion .qrcode h4 {
  font-size: 20px;
  padding: 0px;
  margin: 0px 0px 0px 0px;
  color: #22292f;
}
.topbar .mobileVersion .qrcode img {
  width: 300px;
  height: 300px;
}
.topbar .mobileVersion:hover,
.topbar .mobileVersion:focus {
  text-decoration: underline;
}
.topbar .mobileVersion:hover .qrcode,
.topbar .mobileVersion:focus .qrcode {
  display: block;
}
.topbar span {
  padding-right: 30px;
}
.topbar .login {
  color: #ddb107;
  padding-right: 10px;
}
.topbar .login:hover,
.topbar .login:focus {
  text-decoration: underline;
}
.topbar .account {
  padding-left: 20px;
  color: #8795a1;
}
.topbar .account:hover,
.topbar .account:focus {
  color: #dae1e7;
  text-decoration: underline;
}
.header-con {
  background: white;
  height: 120px;
  padding-top: 15px;
  font-size: 0px;
}
.header-con .indexlogo {
  display: inline-block;
  vertical-align: middle;
}
.header-con .indexlogo img {
  max-width: 100%;
}
.header-con .pagetitle {
  padding-left: 15px;
  margin-left: 15px;
  display: inline-block;
  vertical-align: middle;
  font-size: 30px;
  color: #606f7b;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 400px;
  border-left: 1px solid #b8c2cc;
}
.header-con .header-con-search {
  display: inline-block;
  vertical-align: top;
  width: 80%;
  padding-right: 20px;
}
.header-con .header-con-search .am-btn,
.header-con .header-con-search .am-form-field {
  border-color: #0088f0;
}
.header-con .header-con-search .keys {
  padding: 5px 0px;
}
.header-con .header-con-search .keys a {
  color: #22292f;
  padding-right: 10px;
  font-size: 14px;
}
.header-con .header-con-search .keys a.active {
  color: #0088f0;
}
.header-con .header-con-search .keys a:hover,
.header-con .header-con-search .keys a:focus {
  color: #0088f0;
}
.header-con .header-con-qr {
  display: inline-block;
  vertical-align: top;
  width: 20%;
}
.header-con .header-con-qr img {
  width: 90px;
  height: 90px;
}
.header-nav {
  background: #0088f0;
}
.header-nav .am-container {
  position: relative;
}
.header-nav .nav {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 0px;
}
.header-nav .nav li {
  display: inline-block;
  line-height: 50px;
  height: 50px;
  font-size: 16px;
}
.header-nav .nav li .category-search {
  color: white;
  background: #007cdf;
  padding: 0px 40px;
  margin-right: 10px;
}
.header-nav .nav li .category-search i {
  width: 18px;
  font-size: 16px;
  line-height: 1;
  margin-right: 10px;
}
.header-nav .nav li .category-search span {
  font-size: 16px;
  display: inline-block;
  line-height: 1;
}
.header-nav .nav li.on a {
  border-bottom: 2px solid #ffed4a;
  color: #ffed4a;
}
.header-nav .nav li a {
  display: inline-block;
  padding: 0px 25px;
  color: white;
  line-height: 50px;
  height: 50px;
}
.header-nav .nav li a:hover {
  border-bottom: 2px solid #ffed4a;
  color: #ffed4a;
  background: #007cdf;
}
.header-nav-radius {
  text-align: right;
}
.header-nav-radius .nav {
  margin: 0px;
  padding: 20px 0px 0px 0px;
  list-style: none;
  font-size: 0px;
}
.header-nav-radius .nav li {
  display: inline-block;
  padding: 0px 0px 0px 10px;
}
.header-nav-radius .nav li.on a {
  color: white;
  background: #0088f0;
}
.header-nav-radius .nav li a {
  display: block;
  padding: 0px 30px;
  color: #22292f;
  border-radius: 25px;
  line-height: 40px;
  height: 40px;
  font-size: 16px;
}
.header-nav-radius .nav li a:hover {
  color: white;
  background: #0088f0;
}
.header-nav-square {
  background: white;
}
.header-nav-square .nav {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 0px;
}
.header-nav-square .nav li {
  display: inline-block;
  padding: 0px 0px 0px 10px;
}
.header-nav-square .nav li.on a {
  color: white;
  background: #0088f0;
}
.header-nav-square .nav li a {
  display: block;
  padding: 0px 30px;
  color: #22292f;
  line-height: 40px;
  height: 40px;
  font-size: 16px;
}
.header-nav-square .nav li a:hover {
  color: white;
  background: #0088f0;
}
.footer {
  height: auto;
  background-color: #302F2B ;
  color: #a2a2a2;
  font-size: 14px;
  margin-top: 20px;
}
.footer ul {
  list-style: none;
  margin-top: 0px;
}
.footer a {
  color: #a2a2a2;
}
.footer a:hover {
  text-decoration: underline;
}
.web_link {
  height: auto;
  margin-top: 35px;
  padding: 0px 20px;
}
.web_link .web_link_left {
  width: auto;
  display: block;
  vertical-align: top;
  float: left;
}
.web_link .web_link_left ul {
  padding-bottom: 15px;
  display: block;
  float: left;
  width: 160px;
}
.web_link .web_link_left ul li {
  padding-bottom: 15px;
  width: 100%;
  font-size: 14px;
}
.web_link .web_link_left ul li.link_li_tit {
  font-size: 18px;
  width: 100%;
}
.web_link .web_link_right {
  width: 150px;
  display: block;
  vertical-align: top;
  font-size: 16px;
  float: right;
}
.web_link .web_link_right ul li {
  padding-bottom: 20px;
}
.web_link .web_link_code {
  width: 250px;
  display: block;
  min-height: 180px;
  vertical-align: top;
  text-align: center;
  font-size: 16px;
  float: left;
  margin-left: 25px;
  position: relative;
}
.web_link .web_link_code .text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 16px;
  padding: 0px 0px 10px 0px;
  margin: 0px;
}
.web_link .web_link_code .wx-img {
  width: 120px;
  border: 5px solid #fff;
  box-sizing: border-box;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: auto;
}
.friend_link {
  height: auto;
  padding: 10px 20px 20px 20px;
}
.friend_link .friend_link_left {
  width: 50%;
  float: left;
  font-size: 14px;
}
.friend_link .friend_link_left ul li {
  float: left;
  margin-right: 2%;
}
.friend_link .friend_link_right {
  width: 50%;
  display: block;
  float: left;
  font-size: 14px;
}
.friend_link .friend_link_right ul li {
  float: right;
  padding-left: 15px;
}
.login-bottom {
  font-size: 14px;
  text-align: center;
  padding: 40px 0px;
  margin: 0px;
}
.login-bottom dt {
  color: white;
  display: inline-block;
  border-right: 2px solid #0088f0;
  padding: 0px 15px 0px 0px;
  line-height: 1;
}
.login-bottom dd {
  display: inline-block;
  padding: 0px 0px 0px 30px;
  line-height: 1;
  margin-top: 0px;
}
.category-search:hover .category-menu {
  display: block;
}
.category-menu {
  width: 250px;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=97)';
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  opacity: 0.97;
  filter: alpha(opacity=97);
  position: absolute;
  left: 18px;
  z-index: 1000;
  display: none;
}
.category-menu ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.category-menu .category-level-1 {
  height: 100%;
  background: white;
  box-shadow: 3px 3px 5px #3d4852;
  position: relative;
  padding: 10px 0px;
}
.category-menu .category-level-1 ul li {
  color: #22292f;
  display: block !important;
  height: auto !important;
  line-height: 2 !important;
}
.category-menu .category-level-1 ul li:before,
.category-menu .category-level-1 ul li:after {
  content: " ";
  display: table;
}
.category-menu .category-level-1 ul li:after {
  clear: both;
}
.category-menu .category-level-1 ul li:before,
.category-menu .category-level-1 ul li:after {
  content: " ";
  display: table;
}
.category-menu .category-level-1 ul li:after {
  clear: both;
}
.category-menu .category-level-1 ul li span {
  display: block !important;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px !important;
}
.category-menu .category-level-1 ul li span:hover {
  background: white;
  color: #0088f0;
}
.category-menu .category-level-1 ul li span:hover .category-level-2 {
  display: block;
  cursor: default;
}
.category-menu .category-level-1 ul li i {
  line-height: 1;
  font-size: 20px;
  color: #b8c2cc;
  float: right;
  position: relative;
  margin-right: 0px !important;
  text-align: right !important;
}
.category-menu .category-level-2 {
  position: absolute;
  left: 250px;
  width: 500px;
  top: 0px;
  background: #ffffff url(../images/nav_div_bg.jpg) left top repeat-y;
  padding: 15px 20px;
  display: none;
  height: 100%;
  overflow: auto;
}
.category-menu .category-level-2 h4 {
  font-size: 16px;
  border-bottom: 1px solid #f1f5f8;
  margin: 0px 0px 5px 0px;
  padding: 0px 0px 5px 0px;
  color: #b8c2cc;
}
.category-menu .category-level-2 p {
  margin: 0px;
  padding: 0px 0px 10px 0px;
  text-align: left;
}
.category-menu .category-level-2 p a {
  color: #3d4852 !important;
  font-size: 12px;
  display: inline-block;
  padding: 0px 5px;
  background: none !important;
  border: none !important;
  height: auto !important;
  line-height: 2 !important;
}
.category-menu .category-level-2 p a:hover {
  text-decoration: underline;
}
.leftMenu dt {
  background: white;
  padding: 20px;
  color: #22292f;
  position: relative;
  min-height: 110px;
}
.leftMenu dt img {
  width: 85px;
  height: 70px;
  position: absolute;
  left: 20px;
  top: 20px;
}
.leftMenu dt span {
  display: block;
  font-size: 14px;
  padding-left: 95px;
}
.leftMenu dd {
  margin-top: 20px;
}
.leftMenu dd.on a {
  color: white;
  background: #0088f0;
}
.leftMenu dd a {
  display: block;
  font-size: 16px;
  color: #606f7b;
  background: white;
  padding: 15px 20px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
}
.leftMenu dd a:focus,
.leftMenu dd a:hover {
  color: white;
  background: #0088f0;
}
.leftMenu dd:first-child {
  margin-top: 0px;
}
/*banner*/
.banner {
  position: relative;
}
.banner .am-container {
  position: relative;
}
.banner .banner-pointer {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 20px;
  text-align: center;
  z-index: 11;
}
.banner .banner-pointer ul {
  font-size: 0px;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.banner .banner-pointer ul li {
  display: inline-block;
  margin: 0px 3px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  cursor: pointer;
  background: #dae1e7;
}
.banner .banner-pointer ul li.on {
  background: #0088f0;
}
.banner .banner-img ul {
  margin-bottom: 0px;
}
.banner img {
  height: 470px;
  position: relative;
  left: 50%;
  margin-left: -960px;
  width: auto !important;
}
.banner-sm img {
  height: 420px;
}
.area-contianer {
  position: relative;
  padding: 20px 20px 0px 20px;
}
.area-contianer .more {
  position: absolute;
  right: 20px;
  top: 20px;
}
.area-contianer ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  font-size: 0px;
  display: inline-block;
  vertical-align: middle;
}
.area-contianer ul li {
  display: inline-block;
  font-size: 14px;
  color: #22292f;
  padding: 2px 15px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 6px;
  min-width: 80px;
}
.area-contianer ul li:hover {
  color: #0088f0;
}
.area-contianer ul li.on {
  background: #0088f0;
  color: white;
  border-radius: 5px;
}
.area-contianer .checkbox {
  display: inline-block;
  vertical-align: middle;
}
.area-contianer .checkbox label {
  margin-bottom: 0px;
}
.area-contianer dl {
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 10px 0px;
  list-style: none;
  font-size: 0px;
  position: relative;
  border-bottom: 1px solid #f1f5f8;
}
.area-contianer dl dt {
  width: 100px;
  position: absolute;
  left: 0px;
  top: 4px;
  font-size: 14px;
}
.area-contianer dl dd {
  margin-left: 100px;
  margin-right: 100px;
  min-height: 26px;
  font-size: 14px;
}
.area-contianer dl dd .am-badge {
  margin-right: 5px;
  padding: 7px 10px;
  border-radius: 5px;
  background: #0088f0;
  vertical-align: middle;
  display: inline-block;
}
.area-contianer dl dd .am-badge .am-close {
  line-height: 1;
  font-size: 14px;
  width: 14px;
  opacity: 0.9;
  color: white;
}
.area-contianer .select {
  height: 32px;
  overflow: hidden;
}
.area-contianer .select ul {
  margin-bottom: 5px;
}
.area-contianer .inputNum {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  padding-left: 20px;
}
.area-contianer .inputNum i {
  font-size: 20px;
  line-height: 1;
  vertical-align: middle;
  margin-right: 10px;
}
.area-contianer .inputNum span {
  display: inline-block;
  vertical-align: middle;
  padding: 0px 5px;
  font-size: 14px;
}
.area-contianer .inputNum input {
  width: 50px;
  vertical-align: middle;
  height: 26px;
  text-align: center;
}
.area-contianer .inputNum button {
  height: 26px;
  padding: 0px 10px ;
  line-height: 26px;
  vertical-align: middle;
}
.area-contianer .inputNum button i {
  font-size: 14px;
  margin-right: 0px;
  position: relative;
  top: -3px;
}
.area-contianer .area-city {
  border-top: 1px solid #f1f5f8;
  padding: 5px 0px 0px 0px;
}
.area-contianer .select-more {
  height: auto;
}
.searchbar {
  margin-top: 15px;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 15px;
}
.searchbar:before,
.searchbar:after {
  content: " ";
  display: table;
}
.searchbar:after {
  clear: both;
}
.searchbar:before,
.searchbar:after {
  content: " ";
  display: table;
}
.searchbar:after {
  clear: both;
}
.searchbar .am-btn,
.searchbar .am-form-field {
  border-color: #0088f0;
}
.list-unstyle {
  list-style: none;
  padding: 0px 20px;
  margin: 0px;
}
.articlelist-topten {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.articlelist-topten li {
  position: relative;
}
.articlelist-topten li:before,
.articlelist-topten li:after {
  content: " ";
  display: table;
}
.articlelist-topten li:after {
  clear: both;
}
.articlelist-topten li:before,
.articlelist-topten li:after {
  content: " ";
  display: table;
}
.articlelist-topten li:after {
  clear: both;
}
.articlelist-topten li:before {
  content: "1";
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  background: #fc710a;
  text-align: center;
  color: white;
  left: 0px;
  top: 7px;
  line-height: 18px;
  font-size: 14px;
}
.articlelist-topten li small {
  color: #8795a1;
  padding-top: 7px;
}
.articlelist-topten li a {
  font-size: 14px;
  color: #3d4852;
  display: block;
  padding: 5px 0px 5px 30px;
  width: 70%;
  float: left;
}
.articlelist-topten li a:hover,
.articlelist-topten li a:focus {
  color: #0088f0;
}
.articlelist-topten li + li:before {
  content: "2";
  background: #04ade8;
}
.articlelist-topten li + li + li:before {
  content: "3";
  background: #67d2b6;
}
.articlelist-topten li + li + li + li:before {
  content: "4";
  background: #dae1e7;
}
.articlelist-topten li + li + li + li + li:before {
  content: "5";
}
.articlelist-topten li + li + li + li + li + li:before {
  content: "6";
}
.articlelist-topten li + li + li + li + li + li + li:before {
  content: "7";
}
.articlelist-topten li + li + li + li + li + li + li + li:before {
  content: "8";
}
.articlelist-topten li + li + li + li + li + li + li + li + li:before {
  content: "9";
}
.articlelist-topten li + li + li + li + li + li + li + li + li + li:before {
  content: "10";
}
.topten-full li a {
  width: 100%;
}
.card {
  border: 1px solid #dae1e7;
  position: relative;
}
.card:before,
.card:after {
  content: " ";
  display: table;
}
.card:after {
  clear: both;
}
.card:before,
.card:after {
  content: " ";
  display: table;
}
.card:after {
  clear: both;
}
.card .cancelFav {
  position: absolute;
  right: 0px;
  top: 0px;
  background: #8795a1;
  border: none;
  color: white;
  padding: 3px 10px;
}
.card .cancelFav:hover,
.card .cancelFav:focus {
  background: #3d4852;
}
.card img {
  width: 100%;
  height: 160px;
}
.card h4 {
  text-align: center;
  font-size: 16px;
  padding: 10px;
  margin: 0px;
  font-weight: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1;
}
.card p {
  color: #8795a1;
  margin: 0px;
  padding: 0px 10px 10px 10px;
  font-size: 14px;
  line-height: 1;
}
.card span {
  display: inline-block;
  float: left;
  padding: 0px 10px;
  color: #de751f;
  font-size: 14px;
}
.card button {
  float: right;
}
.card-noborder {
  border: none;
  padding-bottom: 30px;
}
.card-noborder h4 {
  text-align: left;
}
.enterprise {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #dae1e7;
}
.enterprise:before,
.enterprise:after {
  content: " ";
  display: table;
}
.enterprise:after {
  clear: both;
}
.enterprise:before,
.enterprise:after {
  content: " ";
  display: table;
}
.enterprise:after {
  clear: both;
}
.enterprise:first-child {
  margin-top: 0px;
  border-top: none;
}
.enterprise:hover {
  border-color: #0088f0;
}
.enterprise h1,
.enterprise h2,
.enterprise h3,
.enterprise h4,
.enterprise p {
  margin: 0px;
  padding: 0px;
  font-weight: normal;
}
.enterprise .ep-logo {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 200px;
}
.enterprise .ep-logo a img {
  width: 100%;
  height: 120px;
}
.enterprise .ep-info {
  padding: 5px 240px 0px 220px;
  min-height: 120px;
}
.enterprise .ep-info h1 {
  font-size: 20px;
  margin-bottom: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.enterprise .ep-info h1 a {
  color: #22292f;
}
.enterprise .ep-info h1 a:hover {
  color: #0088f0;
}
.enterprise .ep-info h2 {
  font-size: 14px;
  margin-bottom: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #3d4852;
}
.enterprise .ep-info p {
  font-size: 12px;
  color: #606f7b;
}
.enterprise .ep-info p span {
  padding-left: 20px;
}
.enterprise .ep-info p a {
  color: #de751f;
  padding-left: 20px;
}
.enterprise .ep-info p a:hover {
  color: #f6993f;
}
.enterprise .ep-pos {
  position: absolute;
  right: 20px;
  top: 5px;
  width: 200px;
  text-align: right;
}
.enterprise .ep-pos h3 {
  font-size: 16px;
  color: #8795a1;
  margin-bottom: 10px;
}
.enterprise .ep-pos h4 {
  font-size: 20px;
  color: #de751f;
  border-bottom: none;
  margin-bottom: 10px;
}
.talents {
  margin-top: 20px;
}
.talents:before,
.talents:after {
  content: " ";
  display: table;
}
.talents:after {
  clear: both;
}
.talents:before,
.talents:after {
  content: " ";
  display: table;
}
.talents:after {
  clear: both;
}
.talents:first-child {
  margin-top: 0px;
}
.talents h4,
.talents p {
  margin: 0px;
  padding: 0px;
}
.talents .talents-avatar {
  width: 80px;
  float: left;
  margin-right: 10px;
}
.talents .talents-avatar img {
  width: 100%;
}
.talents .talents-info {
  padding-left: 90px;
}
.talents .talents-info h4 {
  font-size: 12px;
  color: #3d4852;
  font-weight: normal;
}
.talents .talents-info h4 span {
  padding-right: 20px;
}
.talents .talents-info p {
  font-size: 12px;
  color: #8795a1;
}
.talents-lg .talents-avatar {
  margin-right: 20px;
}
.talents-lg .talents-info h4 {
  font-size: 16px;
}
.talents-lg .talents-info p {
  font-size: 14px;
}
.border-left-gray .talents-lg {
  padding-bottom: 15px;
  padding-left: 15px;
}
.talents-v .talents-avatar {
  float: none;
  width: 100%;
}
.talents-v .talents-avatar img {
  width: 100%;
  height: 260px;
}
.talents-v .talents-info {
  float: none;
  padding-left: 0px;
  padding-top: 10px;
  position: relative;
  padding-bottom: 30px;
}
.talents-v .talents-info h4 {
  font-size: 16px;
  margin-bottom: 5px;
}
.talents-v .talents-info p {
  font-size: 14px;
}
.talents-v .talents-info em {
  font-size: 12px;
  color: #de751f;
  position: absolute;
  bottom: 0px;
  font-style: normal;
}
.project {
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid #dae1e7;
}
.project:before,
.project:after {
  content: " ";
  display: table;
}
.project:after {
  clear: both;
}
.project:before,
.project:after {
  content: " ";
  display: table;
}
.project:after {
  clear: both;
}
.project:first-child {
  margin-top: 0px;
  border-top: none;
}
.project h4,
.project p {
  margin: 0px;
  padding: 0px;
}
.project .project-img {
  width: 300px;
  float: left;
  margin-right: 20px;
}
.project .project-img img {
  width: 100%;
  height: 190px;
}
.project .project-info {
  padding-right: 20px;
}
.project .project-info:before,
.project .project-info:after {
  content: " ";
  display: table;
}
.project .project-info:after {
  clear: both;
}
.project .project-info:before,
.project .project-info:after {
  content: " ";
  display: table;
}
.project .project-info:after {
  clear: both;
}
.project .project-info h4 {
  font-size: 18px;
  color: #3d4852;
  font-weight: normal;
  margin-bottom: 10px;
  border-bottom: none;
  padding-top: 0px;
}
.project .project-info h4 a {
  color: #22292f;
}
.project .project-info h4 a:hover {
  color: #0088f0;
}
.project .project-info h4 span {
  padding-right: 20px;
}
.project .project-info p {
  font-size: 14px;
  color: #606f7b;
  margin-top: 5px;
}
.project .project-info p.desc {
  color: #8795a1;
  font-size: 14px;
}
.project .project-info p b {
  color: #de751f;
  padding-right: 20px;
  font-weight: normal;
}
.articlelist {
  margin: 0px;
  padding: 0px 0px 20px 0px;
  list-style: disc;
  padding-left: 1em;
}
.articlelist li a {
  font-size: 14px;
  color: #3d4852;
  display: block;
  padding: 2px 0px;
}
.articlelist li a:hover,
.articlelist li a:focus {
  color: #0088f0;
}
.articlelist-nodot {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.articlelist-nodot .am-badge {
  margin-right: 5px;
  border-radius: 5px;
}
.articlelist-nodot li a {
  font-size: 14px;
  color: #3d4852;
  display: block;
  padding: 5px 0px;
}
.articlelist-nodot li a:hover,
.articlelist-nodot li a:focus {
  color: #0088f0;
}
.articlelist-doublue {
  padding-left: 0px;
}
.articlelist-doublue .date {
  position: absolute;
  right: 0px;
  top: 12px;
  text-align: right;
}
.articlelist-doublue .date h2 {
  color: #e3342f;
  font-size: 30px;
  padding-top: 20px;
}
.articlelist-doublue .date span ~ h2 {
  padding-top: 0px;
  margin: 0px;
}
.articlelist-doublue .date span {
  display: block;
  color: #8795a1;
  margin-bottom: 10px;
}
.articlelist-doublue .date b {
  display: block;
  color: #606f7b;
  font-weight: normal;
}
.articlelist-doublue li {
  position: relative;
  list-style: none;
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #f1f5f8;
}
.articlelist-doublue li:first-child {
  border-top: none;
  margin-top: 0px;
  padding-top: 0px;
}
.articlelist-doublue li:first-child .date {
  top: 5px;
}
.articlelist-doublue li:first-child .enterlogo {
  top: 5px;
}
.articlelist-doublue li .enterlogo {
  position: absolute;
  width: 200px;
  left: 0px;
  top: 15px;
}
.articlelist-doublue li .enterlogo img {
  width: 100%;
  height: 120px;
}
.articlelist-doublue li .enterlogo ~ a {
  padding-left: 220px;
  min-height: 130px;
}
.articlelist-doublue li a {
  font-size: 16px;
  padding-left: 0px;
}
.articlelist-doublue li a small {
  display: block;
  color: #606f7b;
  padding-top: 5px;
}
.articlelist-doublue li a small.enter {
  padding-top: 15px;
  color: #de751f;
}
.articlelist-doublue li a small:first-child {
  padding-top: 10px;
}
.articlelist-doublue li a:hover small {
  color: #606f7b;
}
.articlelist-doublue li a:hover small.enter {
  color: #de751f;
}
.articlelist-multirow {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.articlelist-multirow li {
  padding: 0px;
  padding-top: 7px;
  margin-top: 7px;
  border-top: 1px solid #dae1e7;
}
.articlelist-multirow li:before,
.articlelist-multirow li:after {
  content: " ";
  display: table;
}
.articlelist-multirow li:after {
  clear: both;
}
.articlelist-multirow li:before,
.articlelist-multirow li:after {
  content: " ";
  display: table;
}
.articlelist-multirow li:after {
  clear: both;
}
.articlelist-multirow li a {
  display: block;
  color: #22292f;
}
.articlelist-multirow li a:hover {
  color: #0088f0;
}
.articlelist-multirow li:first-child {
  border-top: none;
  padding-top: 0px;
  margin-top: 0px;
}
.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 18px 18px 0;
  border-color: transparent #006bbd transparent transparent;
}
.boxStyle {
  background: white;
  padding: 15px 20px;
  margin-bottom: 20px;
}
.boxStyle .link {
  font-size: 16px;
  text-align: center;
  display: block;
  padding: 15px;
  color: #22292f;
}
.boxStyle .link:hover {
  color: #0088f0;
}
.boxContent {
  padding: 20px 30px;
}
.boxContent:before,
.boxContent:after {
  content: " ";
  display: table;
}
.boxContent:after {
  clear: both;
}
.boxContent:before,
.boxContent:after {
  content: " ";
  display: table;
}
.boxContent:after {
  clear: both;
}
.am-u-sm-3 .boxContent {
  padding: 15px 20px;
}
.box-title {
  margin: 0px;
  padding: 7px 15px;
  font-size: 16px;
  border-bottom: 1px solid #f2d024;
  color: #22292f;
}
.box-title small {
  font-weight: normal;
  color: #8795a1;
}
.box-title-primary {
  position: relative;
  padding: 10px 15px 10px 25px;
}
.box-title-primary a {
  font-size: 12px;
  color: #8795a1;
  padding-top: 5px;
}
.box-title-primary:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 12px;
  width: 4px;
  background: #3490dc;
  bottom: 10px;
}
.box-title-gray {
  margin: 0px 0px 10px 0px;
  padding-bottom: 10px;
  font-size: 16px;
  border-bottom: 1px solid #dae1e7;
  color: #22292f;
  font-weight: normal;
}
.with-border-top {
  border-top: 1px solid #f2d024;
}
.with-border-top h5 {
  font-size: 14px;
  font-weight: normal;
  padding: 5px 15px;
  border-bottom: 1px solid #dae1e7;
  color: #22292f;
  margin-bottom: 5px;
}
.boxStyle-tabs {
  background: white;
  margin-bottom: 20px;
}
.boxStyle-tabs:before,
.boxStyle-tabs:after {
  content: " ";
  display: table;
}
.boxStyle-tabs:after {
  clear: both;
}
.boxStyle-tabs:before,
.boxStyle-tabs:after {
  content: " ";
  display: table;
}
.boxStyle-tabs:after {
  clear: both;
}
.boxStyle-tabs .enterprise .ep-info {
  padding: 5px 0px 0px 220px;
}
.boxStyle-tabs .enterprise .ep-info h1 a {
  font-size: 16px;
}
.boxStyle-tabs .loading {
  padding-top: 0px;
}
.boxStyle-tabs h4,
.boxStyle-tabs p {
  padding: 0px;
  margin: 0px;
}
.boxStyle-tabs h4 {
  font-size: 16px;
  color: #22292f;
  position: relative;
  padding: 20px 0px 20px 40px;
}
.boxStyle-tabs h4:before {
  content: "";
  position: absolute;
  left: 20px;
  top: 20px;
  width: 4px;
  background: #b8c2cc;
  bottom: 20px;
}
.boxStyle-tabs p {
  font-size: 12px;
  color: #b8c2cc;
}
.boxStyle-tabs ul {
  padding: 0px;
  margin: 0px;
}
.boxStyle-tabs .boxStyle-tabs-menu {
  font-size: 0px;
  float: left;
  width: 25%;
  border-right: 1px solid #f1f5f8;
  padding-right: 40px;
}
.boxStyle-tabs .boxStyle-tabs-menu ul li {
  position: relative;
}
.boxStyle-tabs .boxStyle-tabs-menu ul li.on a {
  background: #b8c2cc;
  margin-left: -18px;
  padding-left: 56px;
  color: white;
}
.boxStyle-tabs .boxStyle-tabs-menu ul li.on a:hover {
  background: #b8c2cc;
  color: white;
}
.boxStyle-tabs .boxStyle-tabs-menu ul li.on:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 18px 18px 0;
  border-color: transparent #006bbd transparent transparent;
  bottom: -18px;
  left: -18px;
  border-color: transparent #9aa8b7 transparent transparent;
}
.boxStyle-tabs .boxStyle-tabs-menu ul li a {
  font-size: 16px;
  padding: 10px 20px 10px 40px;
  color: #22292f;
  display: block;
}
.boxStyle-tabs .boxStyle-tabs-menu ul li a:hover {
  color: #b8c2cc;
  background: #ffffff;
}
.boxStyle-tabs .boxStyle-tabs-content {
  float: right;
  width: 75%;
  padding-left: 20px;
  position: relative;
}
.boxStyle-tabs .boxStyle-tabs-content .innnerTabs {
  text-align: right;
  position: absolute;
  top: -40px;
  right: 20px;
}
.boxStyle-tabs .boxStyle-tabs-content .innnerTabs a {
  font-size: 12px;
  padding: 0px 0px 0px 10px;
  color: #b8c2cc;
}
.boxStyle-tabs .boxStyle-tabs-content .innnerTabs a:hover,
.boxStyle-tabs .boxStyle-tabs-content .innnerTabs a:focus {
  text-decoration: underline;
  color: #22292f;
}
.boxStyle-tabs .boxStyle-tabs-content ul {
  font-size: 0px;
  margin-bottom: 20px;
}
.boxStyle-tabs .boxStyle-tabs-content ul li {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  padding: 0px 30px 20px 30px;
  position: relative;
}
.boxStyle-tabs .boxStyle-tabs-content ul li:before {
  content: "·";
  position: absolute;
  left: 15px;
  top: 0px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
}
.boxStyle-tabs .boxStyle-tabs-content ul li a {
  font-size: 14px;
  color: #22292f;
  float: left;
  display: block;
}
.boxStyle-tabs .boxStyle-tabs-content ul li a + a {
  float: right;
}
.boxStyle-tabs .boxStyle-tabs-content ul li a:hover {
  color: #b8c2cc;
}
.boxStyle-tabs .boxStyle-tabs-content ul li p {
  clear: both;
}
.boxStyle-tabs .boxStyle-tabs-content ul li:hover {
  background: #ffffff;
}
.boxStyle-tabs-orange h4:before {
  background: #f6993f;
}
.boxStyle-tabs-orange .boxStyle-tabs-menu ul li.on a {
  background: #f6993f;
}
.boxStyle-tabs-orange .boxStyle-tabs-menu ul li.on a:hover {
  background: #f6993f;
}
.boxStyle-tabs-orange .boxStyle-tabs-menu ul li.on:before {
  border-color: transparent #de730a transparent transparent;
}
.boxStyle-tabs-orange .boxStyle-tabs-menu ul li a:hover {
  color: #f6993f;
  background: #fef9f3;
}
.boxStyle-tabs-orange .boxStyle-tabs-content ul li a:hover {
  color: #f6993f;
}
.boxStyle-tabs-orange .boxStyle-tabs-content ul li:hover {
  background: #fef9f3;
}
.boxStyle-tabs-blue h4:before {
  background: #3490dc;
}
.boxStyle-tabs-blue .boxStyle-tabs-menu ul li.on a {
  background: #3490dc;
}
.boxStyle-tabs-blue .boxStyle-tabs-menu ul li.on a:hover {
  background: #3490dc;
}
.boxStyle-tabs-blue .boxStyle-tabs-menu ul li.on:before {
  border-color: transparent #1d68a7 transparent transparent;
}
.boxStyle-tabs-blue .boxStyle-tabs-menu ul li a:hover {
  color: #3490dc;
  background: #f8fbfe;
}
.boxStyle-tabs-blue .boxStyle-tabs-content ul li a:hover {
  color: #3490dc;
}
.boxStyle-tabs-blue .boxStyle-tabs-content ul li:hover {
  background: #f8fbfe;
}
.boxStyle-tabs-purple h4:before {
  background: #9561e2;
}
.boxStyle-tabs-purple .boxStyle-tabs-menu ul li.on a {
  background: #9561e2;
}
.boxStyle-tabs-purple .boxStyle-tabs-menu ul li.on a:hover {
  background: #9561e2;
}
.boxStyle-tabs-purple .boxStyle-tabs-menu ul li.on:before {
  border-color: transparent #6b26d0 transparent transparent;
}
.boxStyle-tabs-purple .boxStyle-tabs-menu ul li a:hover {
  color: #9561e2;
  background: #faf8fe;
}
.boxStyle-tabs-purple .boxStyle-tabs-content ul li a:hover {
  color: #9561e2;
}
.boxStyle-tabs-purple .boxStyle-tabs-content ul li:hover {
  background: #faf8fe;
}
.boxStyle-tabs-green h4:before {
  background: #38c172;
}
.boxStyle-tabs-green .boxStyle-tabs-menu ul li.on a {
  background: #38c172;
}
.boxStyle-tabs-green .boxStyle-tabs-menu ul li.on a:hover {
  background: #38c172;
}
.boxStyle-tabs-green .boxStyle-tabs-menu ul li.on:before {
  border-color: transparent #27864f transparent transparent;
}
.boxStyle-tabs-green .boxStyle-tabs-menu ul li a:hover {
  color: #38c172;
  background: #fafefc;
}
.boxStyle-tabs-green .boxStyle-tabs-content ul li a:hover {
  color: #38c172;
}
.boxStyle-tabs-green .boxStyle-tabs-content ul li:hover {
  background: #fafefc;
}
.am-nav-underline-yellow {
  border-bottom: 1px solid #dae1e7 !important;
}
.am-nav-underline-yellow > li {
  padding: 0px 30px;
}
.am-nav-underline-yellow > li:first-child {
  border-right: 1px solid #dae1e7;
}
.am-nav-underline-yellow > li > a {
  border: none  !important;
  padding: 5px 0px;
  font-size: 14px;
  color: #b8c2cc;
}
.am-nav-underline-yellow > li > a:hover {
  background: transparent;
}
.am-nav-underline-yellow > li.am-active > a {
  border-bottom: 2px solid #f2d024 !important;
  color: #22292f;
}
.am-nav-underline-yellow > li.am-active > a:focus {
  color: #22292f;
}
.am-nav-underline-yellow + .am-tabs-bd {
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
}
.am-nav-underline-yellow-lg {
  border-bottom: 1px solid #dae1e7 !important;
}
.am-nav-underline-yellow-lg > li {
  padding: 0px 15px;
}
.am-nav-underline-yellow-lg > li:first-child {
  margin-left: 30px;
}
.am-nav-underline-yellow-lg > li > a {
  border: none  !important;
  padding: 10px 0px;
  font-size: 18px;
  color: #b8c2cc;
  font-weight: bold;
}
.am-nav-underline-yellow-lg > li > a:hover {
  background: transparent;
}
.am-nav-underline-yellow-lg > li.am-active > a {
  border-bottom: 2px solid #f2d024 !important;
  color: #22292f;
}
.am-nav-underline-yellow-lg > li.am-active > a:focus {
  color: #22292f;
}
.am-nav-underline-yellow-lg + .am-tabs-bd {
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
}
.am-nav-underline {
  border-bottom: 1px solid #dae1e7 !important;
}
.am-nav-underline > li {
  padding: 0px 30px;
}
.am-nav-underline > li:first-child {
  border-right: 1px solid #dae1e7;
}
.am-nav-underline > li > a {
  border: none  !important;
  padding: 10px 0px;
  font-size: 14px;
  color: #b8c2cc;
}
.am-nav-underline > li > a:hover {
  background: transparent;
}
.am-nav-underline > li.am-active > a {
  border-bottom: 2px solid #0088f0 !important;
  color: #22292f;
}
.am-nav-underline > li.am-active > a:focus {
  color: #22292f;
}
.login-main {
  background: #183170;
  height: 600px;
  padding: 40px 0px;
}
.login-main .logincontent {
  padding: 30px 25px;
  font-size: 14px;
}
.login-main .link {
  padding: 10px 0px 0px 0px;
  display: block;
  font-size: 14px;
}
.login-main .am-form-group:last-child {
  margin-bottom: 0px;
}
.login-main .am-container {
  height: 100%;
  position: relative;
  background: url(../images/login-bg.png) left center no-repeat;
  background-size: auto 100%;
}
.login-main .login-text {
  position: relative;
  height: 100%;
  margin-right: 350px;
}
.login-main .login-text h2,
.login-main .login-text h3 {
  color: white;
  margin: 0px;
  position: absolute;
  right: 30px;
}
.login-main .login-text h2 {
  font-size: 36px;
  padding: 0px 0px 20px 0px;
  bottom: 110px;
}
.login-main .login-text h3 {
  font-size: 24px;
  padding: 0px;
  bottom: 50px;
  left: 100px;
  font-weight: normal;
}
.login-main .login-box {
  position: absolute;
  right: 0px;
  top: 30px;
  width: 350px;
}
.login-main .login-box h4 {
  font-size: 32px;
  font-weight: normal;
  color: white;
}
.login-main .login-box .login-inner {
  background: white;
  border-radius: 5px;
  padding: 0px;
}
.login-main .login-box .wxlogin {
  text-align: center;
  padding: 0px 25px 20px 25px;
}
.login-main .login-box .wxlogin img {
  width: 90%;
}
.login-main .login-box .wxlogin a {
  display: block;
  text-align: left;
}
.login-main .login-box .wxlogin h5 {
  margin: 0px 0px 10px 0px;
  font-size: 16px;
  color: #22292f;
  padding: 0px 0px 10px 0px;
  text-align: center;
  font-weight: normal;
  border-bottom: 1px solid #b8c2cc;
}
.login-main .login-box .regWin {
  font-size: 0px;
}
.login-main .login-box .regWin label {
  font-size: 14px;
}
.login-main .login-box .regWin span {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  font-size: 14px;
}
.login-main .login-box .regWin .regSelect {
  border: 1px solid #dae1e7;
  padding: 0px 5px;
  height: 36px;
  overflow-y: scroll;
  display: inline-block;
  background: #fafafa;
  vertical-align: middle;
  width: 50%;
  font-size: 14px;
}
.login-main .login-box .regWin .regSelect span {
  line-height: 36px;
  display: inline;
}
.login-main .login-box .regWin .am-tabs-bd {
  border: none;
  padding: 10px 25px 0px 25px;
}
.login-main .login-box .regWin .logincontent {
  padding-top: 0px;
}
.am-modal-hd {
  border-bottom: 1px solid #dae1e7;
  padding: 10px 20px;
}
.am-modal-hd + .am-modal-bd {
  padding-top: 20px;
}
.selectC .catSel {
  width: 100%;
  height: 240px;
  overflow-y: auto;
  border-radius: 3px;
  border: 1px solid #dae1e7;
  outline: none;
  text-align: left;
}
.selectC .catSel span {
  display: block;
  padding: 3px 5px;
  font-size: 14px;
  cursor: pointer ;
}
.selectC .catSel span:hover,
.selectC .catSel span:focus {
  background: #0088f0;
  color: white;
}
.category-selected {
  padding-top: 15px;
  text-align: left;
  font-size: 0px;
  padding-bottom: 15px;
}
.category-selected label {
  font-weight: normal;
  vertical-align: top;
  font-size: 14px;
}
.category-selected .am-badge {
  font-weight: normal;
  vertical-align: top;
  margin-left: 5px;
}
.category-selected .am-close {
  width: auto;
  font-size: 14px;
  line-height: 1;
  color: white;
  opacity: 1;
}
* {
  box-sizing: border-box;
}
body {
  background: #f0f0f0;
  padding: 0px;
  margin: 0px;
  color: #22292f;
  overflow-x: hidden;
  font-size: 14px;
}
a {
  text-decoration: none;
  color: #0088f0;
}
a:hover {
  color: #3490dc;
}
a:focus {
  color: #3490dc;
  outline: none;
}
.fz12 li {
  font-size: 12px ;
}
.fz12 li a {
  font-size: 12px ;
}
.fz12 li:first-child date {
  top: 0px;
}
.fz12 .date {
  top: 10px;
}
.border-left-gray {
  border-left: 1px solid #dae1e7;
}
.border-right-gray {
  border-right: 1px solid #dae1e7;
}
.border-top-gray {
  border-top: 1px solid #dae1e7;
}
.border-bottom-gray {
  border-bottom: 1px solid #dae1e7;
}
.border-top-yellow {
  border-top: 1px solid #f2d024;
}
.border-bottom-yellow {
  border-bottom: 1px solid #f2d024;
}
.mt20 {
  margin-top: 20px;
}
.pb20 {
  padding-bottom: 20px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
.sendinfo {
  position: absolute;
  width: 80%;
  left: 10%;
  right: 10%;
  top: 45%;
}
.uploadbtn {
  text-align: center;
  width: 100%;
  background: #f1f5f8;
  display: block;
  color: #b8c2cc;
  height: 100%;
  padding-top: 30px;
}
.uploadbtn i {
  font-size: 30px;
}
.uploadbtn i small {
  display: block;
  font-size: 16px;
}
#rightpart {
  min-height: 400px;
}
.gyf-top {
  height: 220px;
}
.lisence-title {
  margin: 0px 0px 10px 0px;
}
.lisence li {
  height: 150px;
  overflow: hidden;
  padding: 0px;
  border: 1px solid #dae1e7;
  margin: 0px 5px 10px 5px;
  position: relative;
}
.lisence li .am-close {
  position: absolute;
  right: 5px;
  top: 5px;
}
.lisence li img {
  width: 100%;
}
.required {
  position: relative;
}
.required:before {
  content: "*";
  color: #e3342f;
  font-size: 16px;
  padding-right: 3px;
  vertical-align: middle;
}
#toTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.am-btn-line {
  background: white;
  border: 1px solid #0088f0;
  color: #0088f0 !important;
  border-radius: 3px;
}
.am-btn-line:hover,
.am-btn-line:focus {
  background: #0088f0;
  color: white !important;
}
.am-modal-dialog {
  border-radius: 5px;
}
.am-container {
  max-width: 1200px;
}
.am-container > .am-g {
  margin-left: -10px;
  margin-right: -10px;
}
.hide {
  display: none;
}
.a {
  outline: 1px solid red;
}
[class*="am-u-"] {
  padding-left: 10px;
  padding-right: 10px;
}
/*checkbox样式*/
.checkbox label {
  position: relative;
  font-weight: normal;
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 5px;
}
.checkbox label input[type="checkbox"] {
  position: relative;
  width: 14px;
  height: 14px;
  margin: 0px 5px 0px 0px;
}
.checkbox label input[type="checkbox"]:before {
  font-family: fontAwesome;
  content: "\f14a";
  position: absolute;
  width: 18px;
  height: 18px;
  font-size: 20px ;
  top: -1px;
  color: #dae1e7;
  z-index: 2;
}
.checkbox label input[type="checkbox"]:after {
  font-family: fontAwesome;
  content: "\f0c8";
  position: absolute;
  width: 18px;
  height: 18px;
  font-size: 20px ;
  top: -1px;
  color: white;
  z-index: 1;
}
.checkbox label input[type="checkbox"]:hover:before {
  color: #b8c2cc;
}
.checkbox label input[type="checkbox"]:checked:before {
  font-family: fontAwesome;
  content: "\f14a";
  width: 18px;
  height: 18px;
  font-size: 20px ;
  top: -1px;
  color: #0088f0;
  z-index: 2;
}
.checkbox label input[type="checkbox"]:checked:after {
  font-family: fontAwesome;
  content: "\f0c8";
  position: absolute;
  width: 18px;
  height: 18px;
  font-size: 20px ;
  top: -1px;
  color: white;
  z-index: 1;
}
.radio label {
  position: relative;
  font-weight: normal;
  cursor: pointer;
  margin-bottom: 10px;
}
.radio label input[type="radio"] {
  position: relative;
  width: 14px;
  height: 14px;
  margin: 0px 5px 0px 0px;
}
.radio label input[type="radio"]:before {
  font-family: fontAwesome;
  content: "\f058";
  position: absolute;
  width: 18px;
  height: 18px;
  font-size: 20px ;
  top: -2px;
  left: -1px;
  color: #dae1e7;
  z-index: 2;
}
.radio label input[type="radio"]:after {
  font-family: fontAwesome;
  content: "\f111";
  position: absolute;
  width: 18px;
  height: 18px;
  font-size: 20px ;
  top: -2px;
  left: -1px;
  color: white;
  z-index: 1;
}
.radio label input[type="radio"]:hover:before {
  color: #b8c2cc;
}
.radio label input[type="radio"]:checked:before {
  font-family: fontAwesome;
  content: "\f058";
  width: 18px;
  height: 18px;
  font-size: 20px ;
  top: -2px;
  left: -1px;
  color: #0088f0;
  z-index: 2;
}
.radio label input[type="radio"]:checked:after {
  font-family: fontAwesome;
  content: "\f111";
  position: absolute;
  width: 18px;
  height: 18px;
  font-size: 20px ;
  top: -2px;
  left: -1px;
  color: white;
  z-index: 1;
}
.loading {
  padding: 15px;
  text-align: center;
  font-size: 16px;
  background: #fff;
}
.loading a {
  color: #22292f;
}
.fastEnter {
  background: white;
  padding: 10px 0px;
}
.fastEnter ul {
  font-size: 0px;
  margin: 0px;
  padding: 10px 0px;
  list-style: none;
}
.fastEnter ul li {
  display: inline-block;
  width: 25%;
  border-left: 1px solid #f1f5f8;
}
.fastEnter ul li:first-child {
  border-left: none;
}
.fastEnter ul li a {
  text-align: center;
  display: block;
  font-size: 16px;
  color: #22292f;
}
.fastEnter ul li a img {
  max-width: 100%;
  top: 0px;
  transition: top 0.3s;
}
.fastEnter ul li a span {
  display: block;
  padding-top: 15px;
}
.fastEnter ul li a:hover {
  color: #0088f0;
}
.fastEnter ul li a:hover img {
  top: -3px;
  position: relative;
}
.enterpriseGroup {
  padding: 0px 15px;
}
.enterpriseGroup li {
  height: 75px;
  text-align: center;
}
.enterpriseGroup img {
  height: 100%;
  max-width: 100%;
}
.header-con ~ .am-container .boxStyle {
  padding: 0px;
}
.header-con ~ .am-container .box-title-gray {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 20px 50px;
}
.header-con ~ .am-container .box-title-gray a {
  font-size: 16px;
  font-weight: normal;
  color: #606f7b;
}
.header-con ~ .am-container .box-title-gray a:hover {
  color: #0088f0;
}
.header-con ~ .am-container .regSuccess {
  padding: 0px 50px 30px 50px;
}
.header-con ~ .am-container .regSuccess h2 {
  font-size: 20px;
  font-weight: normal;
}
.header-con ~ .am-container .regSuccess .am-badge {
  margin-right: 5px;
}
.header-con ~ .am-container .regSuccess .articlelist-nodot li a {
  padding: 5px 0px;
}
.header-con ~ .am-container .regSuccess .am-badge-primary {
  border-radius: 3px;
  background: #0088f0;
}
.header-con ~ .am-container .regSuccess .am-badge-warning {
  border-radius: 3px;
  background: #f6993f;
}
.header-con ~ .am-container .regSuccess .box {
  border: 1px solid #dae1e7;
  padding: 20px 30px;
  margin-bottom: 20px;
}
.header-con ~ .am-container .regSuccess .box:before,
.header-con ~ .am-container .regSuccess .box:after {
  content: " ";
  display: table;
}
.header-con ~ .am-container .regSuccess .box:after {
  clear: both;
}
.header-con ~ .am-container .regSuccess .box:before,
.header-con ~ .am-container .regSuccess .box:after {
  content: " ";
  display: table;
}
.header-con ~ .am-container .regSuccess .box:after {
  clear: both;
}
#enterpriseAuth ul li {
  text-align: center;
  padding: 10px 0px 0px 0px;
}
#enterpriseAuth ul li:first-child {
  border-right: none;
}
#enterpriseAuth ul li > a:focus {
  background: transparent;
}
#enterpriseAuth ul li i {
  width: 42px;
  height: 42px;
  background: url(../images/check.png) right top no-repeat;
  display: inline-block;
  vertical-align: middle;
}
#enterpriseAuth ul li span {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  padding-left: 10px;
}
#enterpriseAuth ul li.am-active a {
  color: #22292f;
}
#enterpriseAuth ul li.am-active i {
  background: url(../images/check.png) left top no-repeat;
}
#enterpriseAuth ul li.on a {
  color: #22292f;
  border-bottom: 2px solid #0088f0 !important;
}
#enterpriseAuth ul li.on i {
  background: url(../images/check.png) left top no-repeat;
}
#enterpriseAuth .img {
  margin-top: 10px;
  max-width: 100%;
  display: block;
}
#enterpriseAuth .upload-text {
  margin-top: 5px;
}
#enterpriseAuth .upload-text p {
  margin: 0px;
  padding: 0px;
  color: #8795a1;
  font-size: 12px;
  text-align: left;
}
#enterpriseAuth .am-tab-panel {
  padding: 40px 0px 30px 0px;
}
#findFund ul li {
  padding: 0px;
}
#findFund ul li:first-child {
  border-right: none;
}
#findFund ul li a {
  font-size: 16px;
  padding: 20px 0px;
  font-weight: bold;
}
#findFund ul li.am-active a {
  color: #0088f0;
}
#findFund ul li.on a {
  color: #0088f0;
  border-bottom: 2px solid #0088f0 !important;
}
#findFund .am-tabs-bd {
  border: none;
}
#findFund .am-tab-panel {
  padding: 40px 0px 30px 0px;
}
.OK {
  text-align: center;
}
.OK img {
  max-width: 100%;
}
.OK h2,
.OK h3 {
  margin: 30px 0px;
  padding: 0px;
}
.OK h2 {
  font-size: 24px;
}
.OK h3 {
  font-size: 18px;
  font-weight: normal;
  margin: 0px 0px 5px 0px;
}
.OK .am-btn {
  margin: 25px 0px;
}
.well {
  border: 1px solid #dae1e7;
  background: #f8fafc;
  padding: 15px 10px;
}
.well:before,
.well:after {
  content: " ";
  display: table;
}
.well:after {
  clear: both;
}
.well:before,
.well:after {
  content: " ";
  display: table;
}
.well:after {
  clear: both;
}
.well .am-form-file {
  margin-bottom: 0px;
}
.am-form:before,
.am-form:after {
  content: " ";
  display: table;
}
.am-form:after {
  clear: both;
}
.am-form:before,
.am-form:after {
  content: " ";
  display: table;
}
.am-form:after {
  clear: both;
}
.my-form {
  margin-bottom: 15px;
  position: relative;
}
.my-form:before,
.my-form:after {
  content: " ";
  display: table;
}
.my-form:after {
  clear: both;
}
.my-form:before,
.my-form:after {
  content: " ";
  display: table;
}
.my-form:after {
  clear: both;
}
.my-form:last-child {
  margin-bottom: 0px;
}
.my-form .tips {
  display: block;
  padding-top: 8px;
  margin-bottom: 10px;
  font-style: normal;
  color: #606f7b;
}
.my-form .my-form-label {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  text-align: right ;
  padding-right: 5px;
  position: absolute;
  left: 0px;
  top: 5px;
}
.my-form .my-form-input {
  vertical-align: top;
  margin-left: 110px;
}
.my-form .my-form-input:before,
.my-form .my-form-input:after {
  content: " ";
  display: table;
}
.my-form .my-form-input:after {
  clear: both;
}
.my-form .my-form-input:before,
.my-form .my-form-input:after {
  content: " ";
  display: table;
}
.my-form .my-form-input:after {
  clear: both;
}
<<<<<<< HEAD
.my-form .my-form-input .checkbox label {
  margin-right: 15px;
}
=======
<<<<<<< HEAD
.my-form .my-form-input .checkbox label {
  margin-right: 15px;
}
=======
>>>>>>> f3580bbe1e9a0e8f723676d9f4f5a97e7dffe996
>>>>>>> remotes/gitee-zhuku/master
.my-form-text {
  margin-bottom: 10px;
  position: relative;
}
.my-form-text:before,
.my-form-text:after {
  content: " ";
  display: table;
}
.my-form-text:after {
  clear: both;
}
.my-form-text:before,
.my-form-text:after {
  content: " ";
  display: table;
}
.my-form-text:after {
  clear: both;
}
.my-form-text .my-form-label {
  display: inline-block;
  vertical-align: top;
  width: 120px;
  text-align: right ;
  padding-right: 5px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.my-form-text .my-form-info {
  vertical-align: top;
  margin-left: 130px;
  color: #606f7b;
}
.my-form-text .my-form-info img {
  width: 100%;
}
.my-table {
  width: 100%;
}
.my-table caption {
  text-align: left;
  font-size: 16px;
  padding-bottom: 10px;
}
.my-table caption small {
  font-size: 14px;
  padding-left: 10px;
}
.my-table tbody tr td {
  vertical-align: top;
}
.enterprise-detail h1 {
  font-size: 24px;
}
.enterprise-detail small {
  display: block;
  font-weight: normal;
  color: #606f7b;
  font-size: 14px;
  padding-top: 5px;
}
.enterprise-detail h2 {
  padding-left: 30px;
  padding-right: 30px;
}
.enterprise-detail p {
  font-size: 14px;
  color: #606f7b;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 10px;
  margin-top: 0px;
  line-height: 1.8;
}
.breadcrumb {
  padding: 10px 15px;
  background: white;
}
.breadcrumb .am-breadcrumb {
  margin-bottom: 0px;
  position: relative;
  padding: 0px 0px 0px 15px;
}
.breadcrumb .am-breadcrumb:before {
  content: "";
  height: 17px;
  width: 4px;
  background: #0088f0;
  position: absolute;
  left: 0px;
  top: 5px;
}
.breadcrumb .am-breadcrumb li.am-active {
  font-size: 16px;
  color: #0088f0;
}
.breadcrumb .am-breadcrumb li + li:before {
  font-size: 14px;
  content: ">";
  padding: 0px 5px;
  font-weight: bold;
}
.breadcrumb .am-breadcrumb li a {
  font-size: 16px;
  color: #22292f;
  font-weight: bold;
}
.breadcrumb .am-breadcrumb li a:hover {
  color: #0088f0;
}
.breadcrumb-sm {
  padding: 0px;
}
.breadcrumb-sm label {
  display: inline-block;
  padding: 0px;
  margin: 0px;
  vertical-align: middle;
}
.breadcrumb-sm .am-breadcrumb {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  vertical-align: middle;
}
.breadcrumb-sm .am-breadcrumb li.am-active {
  font-size: 14px;
  color: #0088f0;
}
.breadcrumb-sm .am-breadcrumb li + li:before {
  font-size: 14px;
  content: ">";
  padding: 0px 2px;
  font-weight: bold;
}
.breadcrumb-sm .am-breadcrumb li a {
  font-size: 14px;
  color: #22292f;
}
.breadcrumb-sm .am-breadcrumb li a:hover {
  color: #0088f0;
}
.total {
  padding: 5px 10px;
  background: #f8fafc;
  color: #22292f;
  text-align: right;
}
.total b {
  font-size: 20px;
  color: #e3342f;
}
.nav-tabs-blueborder-top .am-nav-tabs {
  background: white;
  border: none;
  border-bottom: 1px solid #dae1e7;
}
.nav-tabs-blueborder-top .am-nav-tabs li a {
  margin-right: 0px;
  border: 1px solid transparent;
  border-top: 2px solid transparent;
  color: #22292f;
}
.nav-tabs-blueborder-top .am-nav-tabs li a:hover,
.nav-tabs-blueborder-top .am-nav-tabs li a:focus {
  background: #f8fafc;
}
.nav-tabs-blueborder-top .am-nav-tabs li a.am-active {
  border: 1px solid #dae1e7;
  border-top: 2px solid #0088f0;
  background: #f1f5f8;
  color: #0088f0;
  font-weight: bold;
}
.nav-tabs-blueborder-top .am-nav-tabs li a.am-active:hover,
.nav-tabs-blueborder-top .am-nav-tabs li a.am-active:focus {
  border: 1px solid #dae1e7;
  border-top: 2px solid #0088f0;
  background: #f1f5f8;
  color: #0088f0;
}
.nav-tabs-blueborder-bottom {
  overflow: hidden;
}
.nav-tabs-blueborder-bottom .am-nav-tabs {
  background: white;
  margin-bottom: 10px;
  margin-left: -5px;
}
.nav-tabs-blueborder-bottom .am-nav-tabs li {
  position: relative;
}
.nav-tabs-blueborder-bottom .am-nav-tabs li a {
  border: none;
  color: #22292f;
  margin: 0px 5px;
}
.nav-tabs-blueborder-bottom .am-nav-tabs li a:hover,
.nav-tabs-blueborder-bottom .am-nav-tabs li a:focus {
  background: #f8fafc;
}
.nav-tabs-blueborder-bottom .am-nav-tabs li:first-child:after {
  display: none;
}
.nav-tabs-blueborder-bottom .am-nav-tabs li:after {
  content: "";
  width: 1px;
  height: 14px;
  background: #dae1e7;
  position: absolute;
  left: 0px;
  top: 10px;
}
.nav-tabs-blueborder-bottom .am-nav-tabs .am-active a {
  border-bottom: 2px solid #0088f0;
  background: white;
  color: #0088f0;
  font-weight: bold;
}
.nav-tabs-blueborder-bottom .am-nav-tabs .am-active a:hover,
.nav-tabs-blueborder-bottom .am-nav-tabs .am-active a:focus {
  border: none;
  border-bottom: 2px solid #0088f0;
  background: #f1f5f8;
  color: #0088f0;
}
.form-inline-grid:before,
.form-inline-grid:after {
  content: " ";
  display: table;
}
.form-inline-grid:after {
  clear: both;
}
.form-inline-grid:before,
.form-inline-grid:after {
  content: " ";
  display: table;
}
.form-inline-grid:after {
  clear: both;
}
.form-inline-grid label {
  display: inline-block;
  margin-bottom: 0px;
  vertical-align: middle;
}
.form-inline-grid select {
  padding-right: 25px;
}
.form-inline-grid input[type="text"],
.form-inline-grid select,
.form-inline-grid .am-btn {
  vertical-align: middle;
  display: inline-block;
  width: auto;
}
.form-inline-grid ~ hr {
  border-top: 1px solid #dae1e7;
  margin: 15px 0px 10px 0px;
}
.tableScroll th,
.tableScroll td {
  white-space: nowrap;
}
.tableContent table thead tr {
  background: #d2dce6;
}
.tableContent table thead tr th {
  border-color: #ccc;
}
.tableContent table tbody tr td {
  vertical-align: middle;
  border-color: #ccc;
}
.tableContent .toolbar {
  margin-bottom: 10px;
}
.tableContent .toolbar:before,
.tableContent .toolbar:after {
  content: " ";
  display: table;
}
.tableContent .toolbar:after {
  clear: both;
}
.tableContent .toolbar:before,
.tableContent .toolbar:after {
  content: " ";
  display: table;
}
.tableContent .toolbar:after {
  clear: both;
}
.tableContent .toolbar .nav-tabs-blueborder-top {
  float: left;
}
.tableContent .toolbar .checkbox {
  padding-top: 5px;
}
.tableContent .toolbar .btngroup {
  float: right;
}
.tableContent .checkbox label {
  margin-bottom: 0px;
}
.am-modal-dialog {
  background: white;
}
.am-modal-footer .am-alert {
  background: #f9f9f9;
  margin-bottom: 0px;
  padding: 5px 10px;
  color: #22292f;
  border: none;
}
.am-alert-gray {
  background: #f9f9f9;
  margin-bottom: 0px;
  padding: 5px 10px;
  color: #22292f;
  border: none;
}
.am-alert-gray:before,
.am-alert-gray:after {
  content: " ";
  display: table;
}
.am-alert-gray:after {
  clear: both;
}
.am-alert-gray:before,
.am-alert-gray:after {
  content: " ";
  display: table;
}
.am-alert-gray:after {
  clear: both;
}
.modal-footer-btns {
  padding: 10px;
  text-align: right;
}
.uploadPic .fileinput {
  position: relative;
}
.uploadPic .fileinput:hover label:after {
  outline-color: #0088f0;
  background: #f0f9ff;
}
.uploadPic .fileinput:hover i {
  color: #006bbd;
}
.uploadPic .fileinput label {
  width: 95px;
  height: 95px;
  display: block;
  margin-bottom: 0px;
  position: relative;
  text-align: center;
}
.uploadPic .fileinput label i {
  vertical-align: middle;
  font-size: 36px;
  color: #0088f0;
  position: relative;
  z-index: 9;
  line-height: 1.2;
}
.uploadPic .fileinput label i:after {
  content: "上传图片";
  text-align: center;
  display: block;
  font-size: 12px;
  color: #8795a1;
}
.uploadPic .fileinput label:before {
  content: "";
  width: 0px;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.uploadPic .fileinput label:after {
  content: "";
  outline: 1px dashed #dae1e7;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;
  background: white;
}
.uploadPic .fileinput input[type="file"] {
  cursor: pointer;
  position: absolute;
  width: 95px;
  height: 95px;
  z-index: 10;
  left: 0px;
  top: 0px;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
}
.uploadPic .up {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: table;
<<<<<<< HEAD
  font-size: 0px;
}
.uploadPic .up li {
  display: table-cell;
  padding-left: 5px;
=======
<<<<<<< HEAD
  font-size: 0px;
}
.uploadPic .up li {
  display: table-cell;
  padding-left: 5px;
=======
}
.uploadPic .up li {
  display: table-cell;
  padding-left: 7px;
>>>>>>> f3580bbe1e9a0e8f723676d9f4f5a97e7dffe996
>>>>>>> remotes/gitee-zhuku/master
  position: relative;
}
.uploadPic .up li .am-close {
  position: absolute;
  right: 0px;
  top: 0px;
  color: black;
}
.uploadPic .up li span {
  text-align: center;
  display: block;
  padding: 2px 5px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 12px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  line-height: 1;
}
.uploadPic .up li:first-child {
  padding-left: 0px;
}
.uploadPic .up li img {
  width: 95px;
  height: 95px;
}
.categoryCol {
  border: 1px solid #c7e7ff;
  background: #fafdff;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.categoryCol:before,
.categoryCol:after {
  content: " ";
  display: table;
}
.categoryCol:after {
  clear: both;
}
.categoryCol:before,
.categoryCol:after {
  content: " ";
  display: table;
}
.categoryCol:after {
  clear: both;
}
.categoryCol input[type="text"] {
  border-radius: 0px;
  border: none;
  border: 1px solid #c7e7ff;
  height: 30px;
}
.categoryCol .am-btn {
  border: 1px solid #c7e7ff;
  height: 30px !important;
  padding: 0px 10px;
}
.categoryCol .categoryColList {
  height: 200px;
  overflow: auto;
  text-align: left;
  padding: 5px;
  border: 1px solid #c7e7ff;
  border-top: none;
}
.am-alert-warning-light {
  border: 1px solid #fce1c7;
  background: #fdecdb;
  color: #de751f;
  text-align: left;
  margin-bottom: 0px;
}
.msgStatus {
  padding-left: 90px;
  margin-bottom: 10px;
  position: relative;
}
.msgStatus:before {
  content: attr(title);
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  left: 0px;
  top: 5px;
}
.msgStatus li a {
  border-radius: 5px;
}
.msgStatus li.readmore {
  float: right !important;
}
.msgCenter {
  position: relative;
  background: #f1f5f8;
  padding: 20px;
}
.msgCenter .am-panel:last-child {
  margin-bottom: 0px;
}
.msgCenter .am-panel-title em {
  font-weight: normal;
  font-style: normal;
  color: #606f7b;
}
.msgCenter .am-panel-bd p {
  margin-bottom: 0px;
}
.msgCenter .checkbox {
  color: #8795a1;
  display: inline-block;
}
.msgCenter .checkbox label {
  margin-bottom: 0px;
}
