* {
  box-sizing: border-box;
}
body {
  background: #f0f0f0;
  padding: 0px;
  margin: 0px;
  color: #22292F;
  overflow-x: hidden;
  font-size: 14px;
}
a {
  text-decoration: none;
  color: #0088f0;
}
a:hover {
  color: #3490DC;
}
a:focus {
  color: #3490DC;
  outline: none;
}
.fz12 li {
  font-size: 12px ;
}
.fz12 li a {
  font-size: 12px ;
}
.fz12 li:first-child date {
  top: 0px;
}
.fz12 .date {
  top: 10px;
}
.border-left-gray {
  border-left: 1px solid #DAE1E7;
}
.border-right-gray {
  border-right: 1px solid #DAE1E7;
}
.border-top-gray {
  border-top: 1px solid #DAE1E7;
}
.border-bottom-gray {
  border-bottom: 1px solid #DAE1E7;
}
.border-top-yellow {
  border-top: 1px solid #F2D024;
}
.border-bottom-yellow {
  border-bottom: 1px solid #F2D024;
}
.mt20 {
  margin-top: 20px;
}
.pb20 {
  padding-bottom: 20px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
.sendinfo {
  position: absolute;
  width: 80%;
  left: 10%;
  right: 10%;
  top: 45%;
}
.uploadbtn {
  text-align: center;
  width: 100%;
  background: #F1F5F8;
  display: block;
  color: #B8C2CC;
  height: 100%;
  padding-top: 30px;
}
.uploadbtn i {
  font-size: 30px;
}
.uploadbtn i small {
  display: block;
  font-size: 16px;
}
#rightpart {
  min-height: 400px;
}
.gyf-top {
  height: 220px;
}
.lisence-title {
  margin: 0px 0px 10px 0px;
}
.lisence li {
  height: 150px;
  overflow: hidden;
  padding: 0px;
  border: 1px solid #DAE1E7;
  margin: 0px 5px 10px 5px;
  position: relative;
}
.lisence li .am-close {
  position: absolute;
  right: 5px;
  top: 5px;
}
.lisence li img {
  width: 100%;
}
.required {
  position: relative;
}
.required:before {
  content: "*";
  color: #E3342F;
  font-size: 16px;
  padding-right: 3px;
  vertical-align: middle;
}
#toTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.am-slider-default {
  margin-bottom: 0px;
}
.am-slider-default .am-control-nav {
  bottom: 20px;
  z-index: 10;
}
.am-slider-default .am-control-nav li a {
  width: 12px;
  height: 12px;
}
.am-btn-line {
  background: white;
  border: 1px solid #0088f0;
  color: #0088f0 !important;
  border-radius: 3px;
}
.am-btn-line:hover,
.am-btn-line:focus {
  background: #0088f0;
  color: white !important;
}
.am-modal-dialog {
  border-radius: 5px;
}
.am-container {
  max-width: 1200px;
}
.am-container > .am-g {
  margin-left: -10px;
  margin-right: -10px;
}
.hide {
  display: none;
}
.a {
  outline: 1px solid red;
}
[class*="am-u-"] {
  padding-left: 10px;
  padding-right: 10px;
}
/*checkbox样式*/
.checkbox label {
  position: relative;
  font-weight: normal;
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 5px;
}
.checkbox label input[type="checkbox"] {
  position: relative;
  width: 14px;
  height: 14px;
  margin: 0px 5px 0px 0px;
}
.checkbox label input[type="checkbox"]:before {
  font-family: fontAwesome;
  content: "\f14a";
  position: absolute;
  width: 18px;
  height: 18px;
  font-size: 20px ;
  top: -1px;
  color: #DAE1E7;
  z-index: 2;
}
.checkbox label input[type="checkbox"]:after {
  font-family: fontAwesome;
  content: "\f0c8";
  position: absolute;
  width: 18px;
  height: 18px;
  font-size: 20px ;
  top: -1px;
  color: white;
  z-index: 1;
}
.checkbox label input[type="checkbox"]:hover:before {
  color: #B8C2CC;
}
.checkbox label input[type="checkbox"]:checked:before {
  font-family: fontAwesome;
  content: "\f14a";
  width: 18px;
  height: 18px;
  font-size: 20px ;
  top: -1px;
  color: #0088f0;
  z-index: 2;
}
.checkbox label input[type="checkbox"]:checked:after {
  font-family: fontAwesome;
  content: "\f0c8";
  position: absolute;
  width: 18px;
  height: 18px;
  font-size: 20px ;
  top: -1px;
  color: white;
  z-index: 1;
}
.radio label {
  position: relative;
  font-weight: normal;
  cursor: pointer;
  margin-bottom: 10px;
}
.radio label input[type="radio"] {
  position: relative;
  width: 14px;
  height: 14px;
  margin: 0px 5px 0px 0px;
}
.radio label input[type="radio"]:before {
  font-family: fontAwesome;
  content: "\f058";
  position: absolute;
  width: 18px;
  height: 18px;
  font-size: 20px ;
  top: -2px;
  left: -1px;
  color: #DAE1E7;
  z-index: 2;
}
.radio label input[type="radio"]:after {
  font-family: fontAwesome;
  content: "\f111";
  position: absolute;
  width: 18px;
  height: 18px;
  font-size: 20px ;
  top: -2px;
  left: -1px;
  color: white;
  z-index: 1;
}
.radio label input[type="radio"]:hover:before {
  color: #B8C2CC;
}
.radio label input[type="radio"]:checked:before {
  font-family: fontAwesome;
  content: "\f058";
  width: 18px;
  height: 18px;
  font-size: 20px ;
  top: -2px;
  left: -1px;
  color: #0088f0;
  z-index: 2;
}
.radio label input[type="radio"]:checked:after {
  font-family: fontAwesome;
  content: "\f111";
  position: absolute;
  width: 18px;
  height: 18px;
  font-size: 20px ;
  top: -2px;
  left: -1px;
  color: white;
  z-index: 1;
}
.loading {
  padding: 15px;
  text-align: center;
  font-size: 16px;
  background: #fff;
}
.loading a {
  color: #22292F;
}
.fastEnter {
  background: white;
  padding: 10px 0px;
}
.fastEnter ul {
  font-size: 0px;
  margin: 0px;
  padding: 10px 0px;
  list-style: none;
}
.fastEnter ul li {
  display: inline-block;
  width: 25%;
  border-left: 1px solid #F1F5F8;
}
.fastEnter ul li:first-child {
  border-left: none;
}
.fastEnter ul li a {
  text-align: center;
  display: block;
  font-size: 16px;
  color: #22292F;
}
.fastEnter ul li a img {
  max-width: 100%;
  top: 0px;
  transition: top 0.3s;
}
.fastEnter ul li a span {
  display: block;
  padding-top: 15px;
}
.fastEnter ul li a:hover {
  color: #0088f0;
}
.fastEnter ul li a:hover img {
  top: -3px;
  position: relative;
}
.enterpriseGroup {
  padding: 0px 15px;
}
.enterpriseGroup li {
  height: 75px;
  text-align: center;
}
.enterpriseGroup img {
  height: 100%;
  max-width: 100%;
}
.header-con ~ .am-container .boxStyle {
  padding: 0px;
}
.header-con ~ .am-container .box-title-gray {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 20px 50px;
}
.header-con ~ .am-container .box-title-gray a {
  font-size: 16px;
  font-weight: normal;
  color: #606F7B;
}
.header-con ~ .am-container .box-title-gray a:hover {
  color: #0088f0;
}
.header-con ~ .am-container .regSuccess {
  padding: 0px 50px 30px 50px;
}
.header-con ~ .am-container .regSuccess h2 {
  font-size: 20px;
  font-weight: normal;
}
.header-con ~ .am-container .regSuccess .am-badge {
  margin-right: 5px;
}
.header-con ~ .am-container .regSuccess .articlelist-nodot li a {
  padding: 5px 0px;
}
.header-con ~ .am-container .regSuccess .am-badge-primary {
  border-radius: 3px;
  background: #0088f0;
}
.header-con ~ .am-container .regSuccess .am-badge-warning {
  border-radius: 3px;
  background: #F6993F;
}
.header-con ~ .am-container .regSuccess .box {
  border: 1px solid #DAE1E7;
  padding: 20px 30px;
  margin-bottom: 20px;
}
.header-con ~ .am-container .regSuccess .box:before,
.header-con ~ .am-container .regSuccess .box:after {
  content: " ";
  display: table;
}
.header-con ~ .am-container .regSuccess .box:after {
  clear: both;
}
.header-con ~ .am-container .regSuccess .box:before,
.header-con ~ .am-container .regSuccess .box:after {
  content: " ";
  display: table;
}
.header-con ~ .am-container .regSuccess .box:after {
  clear: both;
}
#enterpriseAuth ul li {
  text-align: center;
  padding: 10px 0px 0px 0px;
}
#enterpriseAuth ul li:first-child {
  border-right: none;
}
#enterpriseAuth ul li > a:focus {
  background: transparent;
}
#enterpriseAuth ul li i {
  width: 42px;
  height: 42px;
  background: url(../images/check.png) right top no-repeat;
  display: inline-block;
  vertical-align: middle;
}
#enterpriseAuth ul li span {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  padding-left: 10px;
}
#enterpriseAuth ul li.am-active a {
  color: #22292F;
}
#enterpriseAuth ul li.am-active i {
  background: url(../images/check.png) left top no-repeat;
}
#enterpriseAuth ul li.on a {
  color: #22292F;
  border-bottom: 2px solid #0088f0 !important;
}
#enterpriseAuth ul li.on i {
  background: url(../images/check.png) left top no-repeat;
}
#enterpriseAuth .img {
  margin-top: 10px;
  max-width: 100%;
  display: block;
}
#enterpriseAuth .upload-text {
  margin-top: 5px;
}
#enterpriseAuth .upload-text p {
  margin: 0px;
  padding: 0px;
  color: #8795A1;
  font-size: 12px;
  text-align: left;
}
#enterpriseAuth .am-tab-panel {
  padding: 40px 0px 30px 0px;
}
#findFund ul li {
  padding: 0px;
}
#findFund ul li:first-child {
  border-right: none;
}
#findFund ul li a {
  font-size: 16px;
  padding: 20px 0px;
  font-weight: bold;
}
#findFund ul li.am-active a {
  color: #0088f0;
}
#findFund ul li.on a {
  color: #0088f0;
  border-bottom: 2px solid #0088f0 !important;
}
#findFund .am-tabs-bd {
  border: none;
}
#findFund .am-tab-panel {
  padding: 40px 0px 30px 0px;
}
.OK {
  text-align: center;
}
.OK img {
  max-width: 100%;
}
.OK h2,
.OK h3 {
  margin: 30px 0px;
  padding: 0px;
}
.OK h2 {
  font-size: 24px;
}
.OK h3 {
  font-size: 18px;
  font-weight: normal;
  margin: 0px 0px 5px 0px;
}
.OK .am-btn {
  margin: 25px 0px;
}
.well {
  border: 1px solid #DAE1E7;
  background: #F8FAFC;
  padding: 15px 10px;
}
.well:before,
.well:after {
  content: " ";
  display: table;
}
.well:after {
  clear: both;
}
.well:before,
.well:after {
  content: " ";
  display: table;
}
.well:after {
  clear: both;
}
.well .am-form-file {
  margin-bottom: 0px;
}
.am-form:before,
.am-form:after {
  content: " ";
  display: table;
}
.am-form:after {
  clear: both;
}
.am-form:before,
.am-form:after {
  content: " ";
  display: table;
}
.am-form:after {
  clear: both;
}
.my-form {
  margin-bottom: 15px;
  position: relative;
}
.my-form:before,
.my-form:after {
  content: " ";
  display: table;
}
.my-form:after {
  clear: both;
}
.my-form:before,
.my-form:after {
  content: " ";
  display: table;
}
.my-form:after {
  clear: both;
}
.my-form:last-child {
  margin-bottom: 0px;
}
.my-form .tips {
  display: block;
  padding-top: 8px;
  margin-bottom: 10px;
  font-style: normal;
  color: #606F7B;
}
.my-form .my-form-label {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  text-align: right ;
  padding-right: 5px;
  position: absolute;
  left: 0px;
  top: 5px;
}
.my-form .my-form-input {
  vertical-align: top;
  margin-left: 110px;
}
.my-form .my-form-input:before,
.my-form .my-form-input:after {
  content: " ";
  display: table;
}
.my-form .my-form-input:after {
  clear: both;
}
.my-form .my-form-input:before,
.my-form .my-form-input:after {
  content: " ";
  display: table;
}
.my-form .my-form-input:after {
  clear: both;
}
.my-form .my-form-input .checkbox label {
  margin-right: 15px;
}
.my-form-text {
  margin-bottom: 10px;
  position: relative;
}
.my-form-text:before,
.my-form-text:after {
  content: " ";
  display: table;
}
.my-form-text:after {
  clear: both;
}
.my-form-text:before,
.my-form-text:after {
  content: " ";
  display: table;
}
.my-form-text:after {
  clear: both;
}
.my-form-text .my-form-label {
  display: inline-block;
  vertical-align: top;
  width: 120px;
  text-align: right ;
  padding-right: 5px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.my-form-text .my-form-info {
  vertical-align: top;
  margin-left: 130px;
  color: #606F7B;
}
.my-form-text .my-form-info img {
  width: 100%;
}
.my-table {
  width: 100%;
}
.my-table caption {
  text-align: left;
  font-size: 16px;
  padding-bottom: 10px;
}
.my-table caption small {
  font-size: 14px;
  padding-left: 10px;
}
.my-table tbody tr td {
  vertical-align: top;
}
.enterprise-detail h1 {
  font-size: 24px;
}
.enterprise-detail small {
  display: block;
  font-weight: normal;
  color: #606F7B;
  font-size: 14px;
  padding-top: 5px;
}
.enterprise-detail h2 {
  padding-left: 30px;
  padding-right: 30px;
}
.enterprise-detail p {
  font-size: 14px;
  color: #606F7B;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 10px;
  margin-top: 0px;
  line-height: 1.8;
}
.breadcrumb {
  padding: 10px 15px;
  background: white;
}
.breadcrumb .am-breadcrumb {
  margin-bottom: 0px;
  position: relative;
  padding: 0px 0px 0px 15px;
}
.breadcrumb .am-breadcrumb:before {
  content: "";
  height: 17px;
  width: 4px;
  background: #0088f0;
  position: absolute;
  left: 0px;
  top: 5px;
}
.breadcrumb .am-breadcrumb li.am-active {
  font-size: 16px;
  color: #0088f0;
}
.breadcrumb .am-breadcrumb li + li:before {
  font-size: 14px;
  content: ">";
  padding: 0px 5px;
  font-weight: bold;
}
.breadcrumb .am-breadcrumb li a {
  font-size: 16px;
  color: #22292F;
  font-weight: bold;
}
.breadcrumb .am-breadcrumb li a:hover {
  color: #0088f0;
}
.breadcrumb-sm {
  padding: 0px;
}
.breadcrumb-sm label {
  display: inline-block;
  padding: 0px;
  margin: 0px;
  vertical-align: middle;
}
.breadcrumb-sm .am-breadcrumb {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  vertical-align: middle;
}
.breadcrumb-sm .am-breadcrumb li.am-active {
  font-size: 14px;
  color: #0088f0;
}
.breadcrumb-sm .am-breadcrumb li + li:before {
  font-size: 14px;
  content: ">";
  padding: 0px 2px;
  font-weight: bold;
}
.breadcrumb-sm .am-breadcrumb li a {
  font-size: 14px;
  color: #22292F;
}
.breadcrumb-sm .am-breadcrumb li a:hover {
  color: #0088f0;
}
.total {
  padding: 5px 10px;
  background: #F8FAFC;
  color: #22292F;
  text-align: right;
}
.total b {
  font-size: 20px;
  color: #E3342F;
}
.nav-tabs-blueborder-top .am-nav-tabs {
  background: white;
  border: none;
  border-bottom: 1px solid #DAE1E7;
}
.nav-tabs-blueborder-top .am-nav-tabs li a {
  margin-right: 0px;
  border: 1px solid transparent;
  border-top: 2px solid transparent;
  color: #22292F;
}
.nav-tabs-blueborder-top .am-nav-tabs li a:hover,
.nav-tabs-blueborder-top .am-nav-tabs li a:focus {
  background: #F8FAFC;
}
.nav-tabs-blueborder-top .am-nav-tabs li a.am-active {
  border: 1px solid #DAE1E7;
  border-top: 2px solid #0088f0;
  background: #F1F5F8;
  color: #0088f0;
  font-weight: bold;
}
.nav-tabs-blueborder-top .am-nav-tabs li a.am-active:hover,
.nav-tabs-blueborder-top .am-nav-tabs li a.am-active:focus {
  border: 1px solid #DAE1E7;
  border-top: 2px solid #0088f0;
  background: #F1F5F8;
  color: #0088f0;
}
.nav-tabs-blueborder-bottom {
  overflow: hidden;
}
.nav-tabs-blueborder-bottom .am-nav-tabs {
  background: white;
  margin-bottom: 10px;
  margin-left: -5px;
}
.nav-tabs-blueborder-bottom .am-nav-tabs li {
  position: relative;
}
.nav-tabs-blueborder-bottom .am-nav-tabs li a {
  border: none;
  color: #22292F;
  margin: 0px 5px;
}
.nav-tabs-blueborder-bottom .am-nav-tabs li a:hover,
.nav-tabs-blueborder-bottom .am-nav-tabs li a:focus {
  background: #F8FAFC;
}
.nav-tabs-blueborder-bottom .am-nav-tabs li:first-child:after {
  display: none;
}
.nav-tabs-blueborder-bottom .am-nav-tabs li:after {
  content: "";
  width: 1px;
  height: 14px;
  background: #DAE1E7;
  position: absolute;
  left: 0px;
  top: 10px;
}
.nav-tabs-blueborder-bottom .am-nav-tabs .am-active a {
  border-bottom: 2px solid #0088f0;
  background: white;
  color: #0088f0;
  font-weight: bold;
}
.nav-tabs-blueborder-bottom .am-nav-tabs .am-active a:hover,
.nav-tabs-blueborder-bottom .am-nav-tabs .am-active a:focus {
  border: none;
  border-bottom: 2px solid #0088f0;
  background: #F1F5F8;
  color: #0088f0;
}
.form-inline-grid:before,
.form-inline-grid:after {
  content: " ";
  display: table;
}
.form-inline-grid:after {
  clear: both;
}
.form-inline-grid:before,
.form-inline-grid:after {
  content: " ";
  display: table;
}
.form-inline-grid:after {
  clear: both;
}
.form-inline-grid label {
  display: inline-block;
  margin-bottom: 0px;
  vertical-align: middle;
}
.form-inline-grid select {
  padding-right: 25px;
}
.form-inline-grid input[type="text"],
.form-inline-grid select,
.form-inline-grid .am-btn {
  vertical-align: middle;
  display: inline-block;
  width: auto;
}
.form-inline-grid ~ hr {
  border-top: 1px solid #DAE1E7;
  margin: 15px 0px 10px 0px;
}
.tableScroll th,
.tableScroll td {
  white-space: nowrap;
}
.tableContent table thead tr {
  background: #d2dce6;
}
.tableContent table thead tr th {
  border-color: #ccc;
}
.tableContent table tbody tr td {
  vertical-align: middle;
  border-color: #ccc;
}
.tableContent .toolbar {
  margin-bottom: 10px;
}
.tableContent .toolbar:before,
.tableContent .toolbar:after {
  content: " ";
  display: table;
}
.tableContent .toolbar:after {
  clear: both;
}
.tableContent .toolbar:before,
.tableContent .toolbar:after {
  content: " ";
  display: table;
}
.tableContent .toolbar:after {
  clear: both;
}
.tableContent .toolbar .nav-tabs-blueborder-top {
  float: left;
}
.tableContent .toolbar .checkbox {
  padding-top: 5px;
}
.tableContent .toolbar .btngroup {
  float: right;
}
.tableContent .checkbox label {
  margin-bottom: 0px;
}
.am-modal-dialog {
  background: white;
}
.am-modal-footer .am-alert {
  background: #f9f9f9;
  margin-bottom: 0px;
  padding: 5px 10px;
  color: #22292F;
  border: none;
}
.am-alert-gray {
  background: #f9f9f9;
  margin-bottom: 0px;
  padding: 5px 10px;
  color: #22292F;
  border: none;
}
.am-alert-gray:before,
.am-alert-gray:after {
  content: " ";
  display: table;
}
.am-alert-gray:after {
  clear: both;
}
.am-alert-gray:before,
.am-alert-gray:after {
  content: " ";
  display: table;
}
.am-alert-gray:after {
  clear: both;
}
.modal-footer-btns {
  padding: 10px;
  text-align: right;
}
.uploadPic .fileinput {
  position: relative;
}
.uploadPic .fileinput:hover label:after {
  outline-color: #0088f0;
  background: #f0f9ff;
}
.uploadPic .fileinput:hover i {
  color: #006bbd;
}
.uploadPic .fileinput label {
  width: 95px;
  height: 95px;
  display: block;
  margin-bottom: 0px;
  position: relative;
  text-align: center;
}
.uploadPic .fileinput label i {
  vertical-align: middle;
  font-size: 36px;
  color: #0088f0;
  position: relative;
  z-index: 9;
  line-height: 1.2;
}
.uploadPic .fileinput label i:after {
  content: "上传图片";
  text-align: center;
  display: block;
  font-size: 12px;
  color: #8795A1;
}
.uploadPic .fileinput label:before {
  content: "";
  width: 0px;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.uploadPic .fileinput label:after {
  content: "";
  outline: 1px dashed #DAE1E7;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;
  background: white;
}
.uploadPic .fileinput input[type="file"] {
  cursor: pointer;
  position: absolute;
  width: 95px;
  height: 95px;
  z-index: 10;
  left: 0px;
  top: 0px;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
}
.uploadPic .up {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: table;
  font-size: 0px;
}
.uploadPic .up li {
  display: table-cell;
  padding-left: 5px;
  position: relative;
}
.uploadPic .up li .am-close {
  position: absolute;
  right: 0px;
  top: 0px;
  color: black;
}
.uploadPic .up li span {
  text-align: center;
  display: block;
  padding: 2px 5px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 12px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  line-height: 1;
}
.uploadPic .up li:first-child {
  padding-left: 0px;
}
.uploadPic .up li img {
  width: 95px;
  height: 95px;
}
.categoryCol {
  border: 1px solid #c7e7ff;
  background: #fafdff;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.categoryCol:before,
.categoryCol:after {
  content: " ";
  display: table;
}
.categoryCol:after {
  clear: both;
}
.categoryCol:before,
.categoryCol:after {
  content: " ";
  display: table;
}
.categoryCol:after {
  clear: both;
}
.categoryCol input[type="text"] {
  border-radius: 0px;
  border: none;
  border: 1px solid #c7e7ff;
  height: 30px;
}
.categoryCol .am-btn {
  border: 1px solid #c7e7ff;
  height: 30px !important;
  padding: 0px 10px;
}
.categoryCol .categoryColList {
  height: 200px;
  overflow: auto;
  text-align: left;
  padding: 5px;
  border: 1px solid #c7e7ff;
  border-top: none;
}
.am-alert-warning-light {
  border: 1px solid #fce1c7;
  background: #fdecdb;
  color: #DE751F;
  text-align: left;
  margin-bottom: 0px;
}
.msgStatus {
  padding-left: 90px;
  margin-bottom: 10px;
  position: relative;
}
.msgStatus:before {
  content: attr(title);
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  left: 0px;
  top: 5px;
}
.msgStatus li a {
  border-radius: 5px;
}
.msgStatus li.readmore {
  float: right !important;
}
.msgCenter {
  position: relative;
  background: #F1F5F8;
  padding: 20px;
}
.msgCenter .am-panel:last-child {
  margin-bottom: 0px;
}
.msgCenter .am-panel-title em {
  font-weight: normal;
  font-style: normal;
  color: #606F7B;
}
.msgCenter .am-panel-bd p {
  margin-bottom: 0px;
}
.msgCenter .checkbox {
  color: #8795A1;
  display: inline-block;
}
.msgCenter .checkbox label {
  margin-bottom: 0px;
}
